<div id="menu">
    <div class="w3-bar w3-blue">
        <a href="#" class="w3-bar-item w3-button" onclick="traeTodos(event)">Muestra todos</a>
        <!-- <a href="#" class="w3-bar-item w3-button" onclick="buscaUno(event)">Muestra 1</a> -->
        <a href="#" class="w3-bar-item w3-button" onclick="datoAbuscar(event)">Busca Dato</a>
        <a href="#" class="w3-bar-item w3-button" onclick="enviarForm(event)">Inserta Envia(FRM)</a>
        <a href="#" class="w3-bar-item w3-button" onclick="enviarJson(event)">Inserta Envia(Json)</a>
        <a href="#" class="w3-bar-item w3-button" onclick="actualizaForm(event)">Actualiza Frm</a>
        <a href="#" class="w3-bar-item w3-button" onclick="elimina(event)">Elimina dato</a>
        <a href="#" class="w3-bar-item w3-button" onclick="acercaDe(event)">Acerca De</a>
    </div>
</div>