<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculo jubilacion</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="w3-container w3-teal w3-padding-16">
        <!-- Logo -->
        <img src="sutunacar.png" alt="Logo" class="w3-left w3-margin-right" style="width:100px;">
      
        <!-- Título -->
        <h1 class="w3-center">Carga de datos para simulación de pensiones SUTUNACAR 2025</h1>
    </div>
       
    <div id="app" class="w3-container w3-row w3-padding">
        <div id="div_form" class="w3-card w3-col l4 w3-padding-16">
            <%- include('pages/altaEmpleado.ejs') %>
        </div>
        

    </div>
</body>
<%- include('includes/scripts') %>
</html>