<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="w3-container">
  <h2 class="w3-center">Datos para la simulación</h2>
  
  <form id="formulario" class="w3-container w3-card-4 w3-light-grey w3-padding">
    <!-- Campo Numero de empleado -->
    <p>
      <label for="numEmp" class="w3-text-teal"><b># empleado</b></label>
      <input id="numEmp" class="w3-input w3-border w3-round" type="number" placeholder="Ingresa tu # de empleado" value="779" required>
    </p>
    <!-- Campo Nombre -->
    <p>
      <label for="nombre" class="w3-text-teal"><b>Nombre</b></label>
      <input id="nombre" class="w3-input w3-border w3-round" type="text" placeholder="Ingresa tu nombre" required>
    </p>
    <!-- Campo edad-->
    <p>
      <label for="edad" class="w3-text-teal"><b>Edad</b></label>
      <input type="number" name="" id="edad" min="18" max="75" value="40">
    </p>
    <!-- Campo Correo -->
    <p>
      <label for="correo" class="w3-text-teal"><b>Correo Electrónico</b></label>
      <input id="correo" class="w3-input w3-border w3-round" type="email" placeholder="ejemplo@correo.com" required>
    </p>

    <!-- Campo Teléfono -->
    <p>
      <label for="telefono" class="w3-text-teal"><b>Teléfono</b></label>
      <input id="telefono" class="w3-input w3-border w3-round" type="tel" placeholder="Ingresa tu número de teléfono" value="938-00-00-00">
    </p>

    <!-- Campo NSS -->
    <p>
      <label for="nss" class="w3-text-teal"><b>NSS</b></label>
      <input id="nss" class="w3-input w3-border w3-round" type="text" placeholder="Ingresa tu NSS">
    </p>

    <!-- Campo  Plaza-->
    <p>
      <label for="tabulador" class="w3-text-teal">Selecciona una opción:</label>
      <select id="tabulador" name="tabulador" class="w3-input w3-border w3-round">
      </select>

    </p>

    <!-- Campo fecha ingreso UNACAR-->
    <p>
      <label for="ingreso" class="w3-text-teal"><b>Fecha de ingreso UNACAR</b></label>
      <input id="ingreso" class="w3-input w3-border w3-round" type="date" placeholder="Ingresa tu Fecha de ingreso" value="2024-02-01">
    </p>

    <!-- Campo mes ingreso IMSS-->
    <p>
      <label for="mesIngresoIMSS" class="w3-text-teal"><b>Mes de ingreso IMSS</b></label>
      <select id="mesIngresoIMSS" name="opciones" class="w3-input w3-border w3-round">
        <option value="01">Enero</option>
        <option value="02">Febrero</option>
        <option value="03">Marzo</option>
        <option value="04">Abril</option>
        <option value="05">Mayo</option>
        <option value="06">Junio</option>
        <option value="07">Julio</option>
        <option value="08">Agosto</option>
        <option value="09">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Novimbre</option>
        <option value="12">Diciembre</option>
      </select>
    </p>

    <!-- Campo dia ingreso IMSS-->
    <p>
      <label for="diaIngresoIMSS" class="w3-text-teal"><b>Día de ingreso IMSS</b></label>
      <input type="number" name="" id="diaIngresoIMSS" min="1" max="30" value="1">
    </p>
    <!-- Botón de envío -->
    <p>
      <button class="w3-button w3-teal w3-round">Enviar</button>
      <button type="submit">Validar</button>

    </p>
  </form>
</div>

</body>
</html>