<div class="w3-container w3-blue w3-center">
    <h3>Información de beneficiarios</h3>
</div>

<div class="w3-container w3-padding-32 w3-border">
    <h4 class="w3-teal w3-center">Transmisión de la pensión Antes de la reforma</h4>
    <ul class="w3-ul w3-hoverable">
        <li class="w3-padding">Si el trabajador es hombre la pensión SI se transmite a los beneficiarios</li>
        <li class="w3-padding">Si el trabajador es mujer la pensión NO se transmite a los beneficiarios</li>
    </ul>
    <h4 class="w3-teal w3-center">Transmisión de la pensión Despues de la reforma</h4>
    <ul class="w3-ul w3-hoverable">
        <li class="w3-padding">Si el trabajador es hombre la pensión SI se transmite a los beneficiarios (del 10 al 60)% vitalicia</li>
        <li class="w3-padding">Si el trabajador es mujer la pensión SI se transmite a los beneficiarios (del 10 al 60)% vitalicia</li>
    </ul>
    <h4 class="w3-teal w3-center">Incremento a las pensiones situación acual</h4>
    <p>
La pension aumenta en la misma proporcion que los trabajadores activos
    </p>
    <h4 class="w3-teal w3-center">Incremento a las pensiones con la reforma</h4>
    <p>
        Las pensiones ya no dependerán del aumento salarial de los trabajadores activos.
        En su lugar, se incrementarán una vez al año en febrero, basado en el Índice Nacional de Precios al Consumidor (INPC), que mide la inflación.
    </p>
</div>

