    <!-- Menú -->
    <div class="w3-bar w3-indigo">
        <a href="#" class="w3-bar-item w3-button">Home</a>
        <a href="#" id="menu_ayuda" class="w3-bar-item w3-button">Ayuda</a>
    </div>
    <!-- Titulo -->
    <div class="w3-container w3-teal w3-padding">
            <!-- Logo -->
            <img src="images/sutunacar.png" alt="Logo" 
                class="w3-left w3-margin-right" 
                style="width:80px;"
            >
            <!-- Título -->
            <h3 class="w3-center">Simulador de pensión SUTUNACAR 2025</h3>
            <h4 class="w3-center">
                Simulación basada en los datos disponibles, Los resultados no son vinculantes
            </h4>
    </div>