<div class="w3-panel w3-padding-16">
    <div class="w3-container w3-row w3-padding">
        <div class="w3-container w3-row w3-padding">
            <h3>Jubilación clausula 49</h3>
            <table class="w3-table-all">
                <thead>
                    <tr>
                        <th>concepto</th>
                        <th id="leyimss">total</th>
                    </tr>
                    
                </thead>
                <tbody id="datosTabla">
                    <tr>
                        <td>Clasificación de personal(puesto)</td>
                        <td id="tbl_puesto">0</td>
                    </tr>
                    <tr>
                        <td>Categoría laboral</td>
                        <td id="tbl_categoria"></td>
                    </tr>
                    <tr>
                        <td>Sueldo base</td>
                        <td id="tbl_sb" style="text-align: right;">0</td>
                    </tr>
                    <tr>
                        <td>Quinquenio</td>
                        <td id="tbl_quinquenio" style="text-align: right;">0</td>
                    </tr>
                    <tr>
                        <td>Despensa</td>
                        <td id="tbl_arteydespensa" style="text-align: right;">0</td>
                    </tr>
                    <tr>
                        <td>Arte</td>
                        <td id="tbl_arte" style="text-align: right;">0</td>
                    </tr>
                    <tr>
                        <td>Prima Vacacional</td>
                        <td id="tbl_primaVacacional" style="text-align: right;">0</td>
                    </tr>
                    <tr>
                        <td>Estimulo por calidad</td>
                        <td id="tbl_estimulocalidad" style="text-align: right;">0</td>
                    </tr>
                    <tr>
                        <td>Ajuste de calendario</td>
                        <td id="tbl_ajustecalendario" style="text-align: right;">0</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td id="tbl_totalsc" style="text-align: right;">0</td>
                    </tr>
                    <tr>
                        <td>Años de servicio</td>
                        <td id="tbl_antiguedad">0</td>
                    </tr>
                    <tr>
                        <td>Edad</td>
                        <td id="tbl_edad">0</td>
                    </tr>
                    <tr>
                        <td>Edad laboral obligatoria</td>
                        <td id="tbl_edad_obligatoria">0</td>
                    </tr>
                    <tr>
                        <td>Edad cronológica de retiro</td>
                        <td id="tbl_edad_retiro">?</td>
                    </tr>
                    
                    <tr>
                        <td>Años x trabajar</td>
                        <td id="tbl_diferencia">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="w3-container w3-row w3-padding">
        <h3>Retiro voluntario clausula 49.2</h3>
        <table class="w3-table-all">
            <thead>
                <tr>
                    <th>concepto</th>
                    <th id="leyimss2">total</th>
                </tr>
                
            </thead>
            <tbody id="datosTabla2">
                <tr>
                    <td>Edad laboral mínima obligatoria</td>
                    <td id="tbl2_edad_obligatoria">0</td>
                </tr>
                <tr>
                    <td>Edad cronológica de retiro</td>
                    <td id="tbl2_edad_retiro">?</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
