
    <h3>Datos tipo de partes</h3>
    <table class="w3-table-all">
        <thead class="w3-blue">
            <th>id</th>
            <th>descripcion</th>
            <td colspan="2">options</td>
        </thead>
        <tbody id="datosTabla">

        </tbody>
    </table>
