<div class="w3-panel w3-padding-16">
    <div class="w3-container w3-row w3-padding">
        <div class="w3-container w3-row w3-padding">
            <h3>Jubilación cláusula 49</h3>
            <table class="w3-table-all">
                <thead>
                    <tr>
                        <th>concepto</th>
                        <th id="leyimss">total</th>
                    </tr>
                    
                </thead>
                <tbody id="datosTabla">
                    <tr>
                        <td>Clasificación de personal(puesto)</td>
                        <td id="tbl_puesto"></td>
                    </tr>
                    <tr>
                        <td>Categoría laboral</td>
                        <td id="tbl_categoria"></td>
                    </tr>
                    
                    <tr>
                        <td>Años de servicio</td>
                        <td id="tbl_antiguedad">0</td>
                    </tr>
                    <tr>
                        <td>Edad</td>
                        <td id="tbl_edad">0</td>
                    </tr>
                    <tr>
                        <td>Edad laboral obligatoria</td>
                        <td id="tbl_edad_obligatoria">0</td>
                    </tr>
                    <tr>
                        <td>Edad cronológica de retiro</td>
                        <td id="tbl_edad_retiro">?</td>
                    </tr>
                    
                    <tr>
                        <td>Años x trabajar</td>
                        <td id="tbl_diferencia">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="w3-container w3-row w3-padding">
        <h3>Salario cotización</h3>
        <table class="w3-table-all">
            <thead>
                <tr>
                    <th>concepto</th>
                    <th id="Nosotros">Correcto</th>
                    <th id="actual">Actual</th>
                    <th id="generacion">Gx</th>
                </tr>
            </thead>
            <tbody id="datosTablaCalculo">
                <tr>
                    <td>Sueldo base</td>
                    <td id="tbl_sbN" style="text-align: right;">0</td>
                    <td id="tbl_sbA" style="text-align: right;">0</td>
                    <td id="tbl_sbG" style="text-align: right;">0</td>
                </tr>
                <tr>
                    <td>Quinquenio</td>
                    <td id="tbl_quinquenioN" style="text-align: right;">0</td>
                    <td id="tbl_quinquenioA" style="text-align: right;">0</td>
                    <td id="tbl_quinquenioG" style="text-align: right;">0</td>
                </tr>
                <tr>
                    <td>Despensa</td>
                    <td id="tbl_despensaN" style="text-align: right;">0</td>
                    <td id="tbl_despensaA" style="text-align: right;">0</td>
                    <td id="tbl_despensaG" style="text-align: right;">0</td>
                </tr>
                <tr>
                    <td>Arte</td>
                    <td id="tbl_arteN" style="text-align: right;">0</td>
                    <td id="tbl_arteA" style="text-align: right;">0</td>
                    <td id="tbl_arteG" style="text-align: right;">0</td>
                </tr>
                <tr>
                    <td>Prima Vacacional</td>
                    <td id="tbl_primaVacacionalN" style="text-align: right;">0</td>
                    <td id="tbl_primaVacacionalA" style="text-align: right;">0</td>
                    <td id="tbl_primaVacacionalG" style="text-align: right;">0</td>
                </tr>
                <tr>
                    <td>Estimulo por calidad</td>
                    <td id="tbl_estimulocalidadN" style="text-align: right;">0</td>
                    <td id="tbl_estimulocalidadA" style="text-align: right;">0</td>
                    <td id="tbl_estimulocalidadG" style="text-align: right;">0</td>
                </tr>
                <tr>
                    <td>Ajuste de calendario</td>
                    <td id="tbl_ajustecalendarioN" style="text-align: right;">0</td>
                    <td id="tbl_ajustecalendarioA" style="text-align: right;">0</td>
                    <td id="tbl_ajustecalendarioG" style="text-align: right;">0</td>
                </tr>
                <tr>
                    <td>Gartificación por jubilación</td>
                    <td id="tbl_gratificacionJubilacionN" style="text-align: right;">0</td>
                    <td id="tbl_gratificacionJubilacionA" style="text-align: right;">0</td>
                    <td id="tbl_gratificacionJubilacionG" style="text-align: right;">0</td>
                </tr>
                <tr>
                    <td>Aguinaldo</td>
                    <td id="tbl_aguinaldoN" style="text-align: right;">0</td>
                    <td id="tbl_aguinaldoA" style="text-align: right;">0</td>
                    <td id="tbl_aguinaldoG" style="text-align: right;">0</td>
                </tr>
                <tr>
                    <td>Salario cotización</td>
                    <td id="tbl_totalscN" style="text-align: right;">0</td>
                    <td id="tbl_totalscA" style="text-align: right;">0</td>
                    <td id="tbl_totalscG" style="text-align: right;">0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w3-container w3-row w3-padding">
        <table class="w3-table-all">
            <thead>
                <tr>
                    <th>Aguinaldo de jubilación</th>
                    <th >Actual 40 días</th>
                    <th >Reforma 30 días</th>
                </tr>
                
            </thead>
            <tbody id="datosTablaAguinaldo">
                <tr>
                    <td>monto</td>
                    <td id="Aguinaldo_jubilado_actual">0</td>
                    <td id="Aguinaldo_jubilado_reforma">0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w3-container w3-row w3-padding">
        <h3>Retiro voluntario cláusula 49.2</h3>
        <table class="w3-table-all">
            <thead>
                <tr>
                    <th>concepto</th>
                    <th id="leyimss2">total</th>
                </tr>
                
            </thead>
            <tbody id="datosTabla2">
                <tr>
                    <td>Edad laboral mínima obligatoria</td>
                    <td id="tbl2_edad_obligatoria">0</td>
                </tr>
                <tr>
                    <td>Edad cronológica de retiro</td>
                    <td id="tbl2_edad_retiro">?</td>
                </tr>
                <tr>
                    <td>Años por trabajar</td>
                    <td id="tbl2_diferencia">?</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
